:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #2c3557;
  --color-light: rgba(253, 253, 253, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f6;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0rem 0rem 3rem #000;
}

/* Google Font CDN LINK */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #39374a;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30rem;

  transition: 0.9s 0.8s ease-in-out;
  background: #282434;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);

  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: 25vw;

  height: 90vh;
}

.form-group {
  padding-bottom: 3rem;
}
.form-group .form-control {
  display: grid;
  margin-top: 16px;
  padding-bottom: 1.4rem;
}
.card label {
  color: #fff;

  color: var(--color-info-light);
  padding-bottom: 1rem;
  color: #fff;

  border-bottom: 1px solid var(--color-dark);

  font-size: 1.4rem;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--color-info-light);
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

/* .card-body{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;

}

.card-body i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
} */

.card-body input {
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-radius: 5px;
  height: 35px;
  margin-left: 15px;
  padding-top: 1.4rem;
  padding-left: 0.5rem;
}

button {
  font-size: 1rem;
  background-color: #2b85b8;
  padding: 5px 5px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 20px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  align-items: center;
}
button:hover {
  background: #22678f;
  transition: all 0.35s;
}

.card .card-body button input {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #2b85b8;
  padding: 1rem 1rem;
  margin: 0;
}

.card .card-header {
  color: #fff;
  font-size: 18px;
  color: var(--color-info-light);
  padding-bottom: 1rem;
  color: #fff;
}
