<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/linksSidebar'); %>
    <link rel="stylesheet" href="./styleabout.css" />
    <title>MP.DASS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./partials/menuSidebar'); %>
    <div class="home_content">
      <div class="about-wrapper">
        <div class="about-left">
          <div class="about-left-content">
            <div>
              <div class="shadow">
                <div class="about-img">
                  <img src="images/logo.png" alt="about image" />
                </div>
              </div>

              <h2>MPDASS</h2>
              <h3>Full-stack Web Development</h3>
              <h2>What did we use?</h2>
              <h3>Nodejs/Express</h3>
              <h3>EJS/JS/MySQL</h3>
              <h3>HTML/CSS</h3>
            </div>

            <ul class="icons"></ul>
          </div>
        </div>

        <div class="about-right">
          <h1>Hello<span>!</span></h1>
          <h2>WHO WE ARE AND WHAT WE DO:</h2>
          <br />
          <br />
          <div class="about-right-we">
            <div>
              <h3 style="color: white; text-align: center">DANNY</h3>
              <a
                href="https://www.linkedin.com/in/daniel-garcia-354a6b230"
                target="_blank"
              >
                <ul class="icons">
                  <li>
                    <i class="fab fa-linkedin"></i>
                  </li>
                </ul>
              </a>
              <a href="https://github.com/TheDaree" target="_blank">
                <button type="button" class="btn btn-white">Git hub</button>
              </a>
            </div>

            <br />
            <br />
            <br />
            <div>
              <h3 style="color: white; text-align: center">SAM</h3>
              <a
              href="http://linkedin.com/in/khare-sambbhav"
              target="_blank"
              >
              <ul class="icons">
                <li><i class="fab fa-linkedin"></i></li>
              </ul>
              <a href="https://github.com/sk-uom-in" target="_blank"
                ><button type="button" class="btn btn-white">Git hub</button></a
              >
            </div>

            <br />
            <br />
            <br />
            <div>
              <h3 style="color: white; text-align: center">SHAWN</h3>
              <ul class="icons">
                <li><i class="fab fa-linkedin"></i></li>
              </ul>
              <a href="https://github.com/nidasfly" target="_blank"
                ><button type="button" class="btn btn-white">Git hub</button></a
              >
            </div>

            <br />
            <div>
              <h3 style="color: white; text-align: center">ATHEER</h3>
              <ul class="icons">
                <li><i class="fab fa-linkedin"></i></li>
              </ul>
              <button type="button" class="btn btn-white">Git hub</button>
            </div>

            <br />
            <br />
            <br />
            <div>
              <h3 style="color: white; text-align: center">ADVIT</h3>
              <a
                href="https://www.linkedin.com/in/advit-ahuja-0b048a236/"
                target="_blank"
              >
              <ul class="icons">
                <li><i class="fab fa-linkedin"></i></li>
              </ul>
              <a href="https://github.com/Advittt" target="_blank">
                <button type="button" class="btn btn-white">Git hub</button>
              </a>
            </div>

            <br />
            <br />
            <br />
            <div>
              <h3 style="color: white; text-align: center">MIRANDA</h3>
              <a href='https://www.linkedin.com/in/mirandajsim/' target="_blank">
              <ul class="icons">
                <li><i class="fab fa-linkedin"></i></li>
              </ul>
            </a>
            <a href = "https://github.com/mirandajsim" target ="_blank">
              <button type="button" class="btn btn-white">Git hub</button>
            </a>
            </div>
          </div>

          <br />
          <br />
          <br />
          <h2>What do we do?</h2>
          <div class="about-para">
            <p>
              MP.DAASS is a music recommendation site put together by 7 students
              (that's us, hi) to help people discover new music based on their
              current/pre-existing music taste.
            </p>
          </div>

          <br />
          <br />
          <div class="credit">
            Made with <span style="color: tomato">❤</span> by
            <a href="/index">MPDASS TEAM</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
